body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #405DE6;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
   
}
.circle {
    margin-top: 5%;
    width: 97.5%;
    background-color: #d5d8e6;
    color: rgb(57, 8, 8);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
   
}
.photo1{
    align-items: center;
}

.photo1 img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    border: solid;
    border-style: dotted;
}


.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile h2 {
    margin: 0;
}

.menu a, .logout-button {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease; /* Smooth transition for color change */
}
.menu{
    margin-right: 5%;
}

.menu a:hover, .logout-button:hover {
    color: lightgray; /* Change color on hover */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease; /* Smooth transition for scale effect */
}

.card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.card img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    margin-top: 0;
}
.slideshow-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%; /* Set width to 100% */
    height: 100vh; /* Set height to 100% of the viewport height */
    object-fit: cover; /* Ensure the image covers the entire container */
}
.mySlides img {
    width: 100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
